


.slider {
  background-image: url("../../../public/3bkreno.jpg");
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
  }

  .info{
    position: absolute;
    top: 40%;
    left: 50%;
    z-index: 2;

    h2{
        color: white;
        font-size: 22px;
        font-family: "Playpen Sans Arabic", cursive;

    }
  }
}
